.card {
    height: 210px;
    background-size: cover !important;
    background-position: center;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin: 10px 30px;
    padding: 20px;

}


.card h2 {
  font-size: 18px;
}
.card p {
  font-size: 16px;
  opacity: 0.7;
  font-weight: lighter;
}


.fa-mobile-alt {
font-size: 50px;

}

.fa-address-card {
 font-size: 50px;
}

.fa-car {
  font-size: 50px;
}

.fa-plus-circle {
  font-size: 50px;
}
