<div class="wrapper">
  <video src ='/assets/teaser.mp4' controls muted loop playinline autoplay style="width: 100%; max-width: 100%; background: none; overflow: hidden;"></video>
  <img src="/assets/parser logo1.png">
</div>
