<div class="banner banner-home">
  <video class="teaser-mobile" src ='/assets/videoretrato.mp4' controls muted loop playinline autoplay style="width: 100%; max-width: 100%; background: none; overflow: hidden;"></video>
  <video class="teaser" src ='/assets/teaser.mp4' controls muted loop playinline autoplay style="width: 100%; max-width: 100%; background: none; overflow: hidden;"></video>
  <%= link_to new_user_session_path do%>
    <% image_tag "trans_logo1.png", class: "logo" %>
  <%end%>
</div>

