<div class="banner banner-home">
  <video class="teaser" src ='/assets/teaser.mp4' controls muted loop playinline autoplay style="width: 100%; max-width: 100%; background: none; overflow: hidden;"></video>
  <div class="logo">
  <img src="/assets/trans_logo1.png">
  </div>
</div>
