<div id="home">
  <div class="banner banner-home">
    <video class="teaser-mobile" src ='<%= image_path('teste_easer2.mp4') %>' controls muted loop playinline autoplay style="width: 140%; height: 100vh; max-width: 140%; background: none; overflow: hidden;"></video>
    <video class="teaser" src ='<%= image_path('teste_easer2.mp4') %>' controls muted loop playinline autoplay style="width: 100%; max-width: 100%; background: none; overflow: hidden;"></video>
    <%= link_to new_user_session_path do%>
      <% image_tag "logofinal_transparente.png", class: "logo" %>
    <%end%>
  </div>
</div>
