.banner {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 1000px) {
.banner {background-attachment: fixed;}
}

.banner-home {
  height: 100vh;
}

.teaser {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

video::-webkit-media-controls {
  display: none;
}

.logo img {
  margin: 8vh 0 34vh 0;
  margin-left: 203px;
}

.logo {
  margin-top: 100px;
  width: 960px;
}
