#home {
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}


 .banner {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background: asset-url('mobilevideo.mp4');
  width:100vw;
}

.banner-home {
  height: 100vh;
}

.teaser {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  display: none;
}

.teaser-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

video::-webkit-media-controls {
  display: none;
}
/* regra do mobile */
.logo {
  width: 300px;
}
/*
regra do desktop */
@media (min-width: 1000px) {
.banner {background-attachment: fixed;}

  .teaser-mobile {
    display:none;
  }

  .teaser {
    display:block;
  }

  .logo {
    width: 400px;
  }

}
