.bodymap {

    background-image: linear-gradient(to top, #051337, #073b67, #006797, #0097c3, #12caeb);
    height: 180vh;
}

.avatar-large {
  width: 100px;
  border-radius: 50%;
}

.bio-header {
    position: relative;
    text-align: center;
    padding: 32px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;

}

.bio-header h3 {
  color: white;
}

.bio-header p {
  color: white;
}

.carinfo {
    position: relative;
    text-align: center;
    padding: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.box {
  background-color:white;
}

.current-address {
font-size: 18px;
// margin-left: 15px;
text-align: center;
color: red
}

.current-address p{
font-size: 18px;
/* margin-left: 15px; */
text-align: center;
color:black;
}

.lastadress {
    padding: 20px;
  }

.mapview {
  margin-right: 15px;
  margin-left: 15px;

}

.panel {
margin-right: 20px;
  margin-left: 20px;


}

.panel-body {
    padding: 15px;
    background-color: #f9f9f9;
    text-align: center;
}

.fa-exclamation-triangle {
color:red;
font-size: 30px

}


.flexbox {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.flex-item {
  flex: 0 0 50%;
}

.btn-danger {
  background-color:red;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}



/*
codigo diego

.avatar-large {
  width: 100px;
  border-radius: 50%;
}

.message {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 35px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 130px;
  font-size: 22px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 130px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 10px 0;
}

.current-address {
  background-color: white;
  padding-left: 10px;
  min-width: 100px;
}
.current-address h3 {
  font-size: 35px;
  margin-bottom: 0px;
  padding-top: 20px;
}
.current-address p {
  font-size: 37px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 10px;
  padding-bottom: 20px;
}
 */
